@model RentVehiclePool.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionId" />
            <div class="mb-2">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId" ></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="TransactionNo" class="control-label"></label>
                <input asp-for="TransactionNo" class="form-control" readonly />
                <span asp-validation-for="TransactionNo" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="TransactionType" class="control-label"></label>
                <input asp-for="TransactionType" class="form-control" readonly />
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="DriverName" class="control-label"></label>
                <input asp-for="DriverName" class="form-control" readonly />
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="UsedDate" class="control-label"></label>
                <input asp-for="UsedDate" class="form-control" readonly />
                <span asp-validation-for="UsedDate" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="ReturnedDate" class="control-label"></label>
                <input asp-for="ReturnedDate" class="form-control" />
                <span asp-validation-for="ReturnedDate" class="text-danger"></span>
            </div>
            <div class="mb-2" hidden>
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="mb-2" hidden>
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="mb-2" hidden>
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="mb-2" hidden>
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
